.language-dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    background-color: #f2f2f2;
    border: none;
    cursor: pointer;
}

.dropdown-panel {
    width: 11.45em;
    position: absolute;
    top: 100%;
    right: 0;
    display: flex;
    flex-wrap: wrap;
    background-color: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    color: black;
    display: inline-block;
    background-color: #f2f2f2;
    border-radius: 4px;
    cursor: pointer;
    width: 3em;
    text-align: center;
    margin: 1% 1% 1% 1%;
}

.dropdown-panel-title {
  width: 100%;
  color: #000;
}
